@use '../variables' as *;

.missionCard {
    background-color: $black-muted;
    border: 1px solid $ui-border;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    text-decoration: none;
    transition: transform .2s ease;

    .companyLogo {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: $accent-main;
        color: $white-main;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .missionContent {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .missionTitle {
            font-family: $font-serif;
            font-size: 26px;
            font-weight: 600;
            color: $white-main;
        }

        .missionCompany {
            font-size: 20px;
            font-weight: 300;
            color: $white-muted;
        }

        .missionFilters {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            gap: 8px;

            .filter {
                background-color: $ui-tag;
                padding: 8px;
                font-size: 16px;
                font-weight: 400;
                color: $white-main;
                border-radius: 8px;
            }
        }

        p.locationAndStart {
            color: $white-main;
            font-size: 16px;
            font-weight: 400;
        }

        p.salaryAndDuration {
            color: $white-main;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

@media (min-width : 1100px) {
.missionCard {
    flex-direction: row;
    gap: 40px;

    .companyLogo {
        width: 64px;
        height: 64px;
        font-size: 32px;
    }
}
}

@media (hover: hover) and (pointer: fine) {
  .missionCard:hover {
    transform: translateY(-4px);
  }
}