@use '../variables' as *;

.filterBtn {
    background-color: rgba($color: $white-main, $alpha: 0);
    padding: 12px;
    border: 1px solid $white-main;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $white-main;
    transition: all .2s;
    cursor: pointer;

    &.active {
        background-color: rgba($color: $white-main, $alpha: 1.0);
        color: $black-main;
    }
}