@use '../variables' as *;

.input {
    border-radius: 8px;
    position: relative;
    
    input {
        border: 1px solid $ui-border;
        font-family: $font-sans;
        width: 100%;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        outline: 2px solid rgba($color: $accent-main, $alpha: 0);
        transition: all .2s;
    }
    input::placeholder {
        font-family: $font-sans;
    }
}

input:focus {
    outline: 2px solid $accent-main;
}

.input-search {
    
    input {
        padding: 12px 16px 12px calc(16px + 18px + 8px);
        background-color: $white-main;
        color: $black-main;
    }
    input::placeholder {
        color: $black-overlay;
        font-style: italic;
    }

    svg {
        width: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }
}

.input-form {
    border: 1px solid $ui-border;
    
    input {
        padding: 12px;
        background-color: $black-soft;
        color: $white-main;
    }
    input::placeholder {
        color: $white-muted;
    }
}

/* Correction Auto-fill degeu */
.input-form input:-webkit-autofill,
.input-form input:-webkit-autofill:hover,
.input-form input:-webkit-autofill:focus,
.input-form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $black-soft inset !important;
    -webkit-text-fill-color: $white-main !important;
    caret-color: $white-main;

    border-radius: 8px;
    border: 1px solid $ui-border !important;

    transition: background-color 9999s ease-in-out 0s;
    font-family: $font-sans;
    font-size: 16px;
}

.input-form input:-webkit-autofill:focus {
    outline: 2px solid $accent-main;
}