@use "../variables" as *;

.dashboardSidebar {
    position: fixed;
    top: 32px;
    left: calc(((100vw - 1440px)/2) + 32px);
    height: calc(100dvh - (32px * 2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid $ui-border;
    background-color: $black-dashboard;
    border-radius: 16px;

    button {
        width: 144px;
        margin: 0 0 32px 16px;
    }

    .top, .bottom {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .sidebarLink {
        padding: 12px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;
        background-color: rgba($color: $black-light, $alpha: 0);
        transition: all .2s;
        flex: 1;

        span {
            color: $white-main;
            font-size: 16px;
            font-weight: 500;

        }
        svg {
            height: 20px;

            path {
                fill: $white-main;
            }
        }

        &.active-link, &:hover {
            background-color: rgba($color: $black-light, $alpha: 1);
        }

        &.deconnexion {
            span {
                color: red;
            }
            svg path {
                fill: red;
            }

            &:hover {
                background-color: red;

                span {
                    color: $white-main;
                }
                svg path {
                    fill: $white-main;
                }
            }
        }
    }
}

@media (width < 1440px) {
    .dashboardSidebar {
        left: 32px;
    }
}

@media (width < 768px) {
    .dashboardSidebar {
        padding: 32px 8px;
        right: 0;
        left: unset;
        border-right: none;
        border-left: 1px solid $ui-border;
        button {
            display: none;
        }
        .sidebarLink {
            padding: 12px;
            span {
                display: none;
            }
        }
    }
}