@use '../variables' as *;

.dashboard-page {
    h1 {
        font-size: 32px;
        font-weight: 600;
    }

    section {
        width: 100%;
    }

    .p {
        color: $white-muted;
    }

    .missions-overview {
        display: flex;
        gap: 32px;

        article {
            width: 25%;

            .missionsNumber {
                font-size: 48px;
                font-weight: 700;
                font-family: $font-serif;
                color: $white-main;
            }
        }
    }

    .dashboard-main-missions {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 32px;

        .missions-status {
            width: 100%;
        }

        .quick-actions {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 32px;

            .btns {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 24px;

                button {
                    width: 100%;
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}