@use '../variables' as *;

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;

    section.hero {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        backdrop-filter: blur(40px);

        .textHero {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .searchSection {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .btns {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;

                button {
                    width: 100%;
                }
            }
        }

        .categories {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            .category {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
                width: 45%;
                height: 100px;
                border-radius: 8px;
                background-color: $black-overlay;
                padding: 8px 12px;

                img {
                    width: 40px;
                }

                span {
                    color: $white-main;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
}

@media (min-width: 1100px) {
.main-home {
    section.hero {
        width: 50%;

        .searchSection {

            .btns {
                flex-direction: row;
            }
        }

        .categories {
            flex-wrap: nowrap;
        }
    }
}    
}