@use '../variables' as *;

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    gap: 256px;

    section.hero {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        .purple {
            color: $accent-main;
        }

        .textHero {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .searchSection {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .btns {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;

                button {
                    width: 100%;
                }
            }
        }

        .categories {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            .category {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
                width: 45%;
                border-radius: 8px;
                background-color: $black-overlay;
                padding: 8px 12px;
                aspect-ratio: 1/1;

                img {
                    width: 40px;
                }

                span {
                    color: $white-main;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }

    section.howItWorks .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        .steps {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 80%;

            .step {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 56px;

            .circle {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                border: 1px solid $white-muted;
                flex-shrink: 0;
                background-color: rgba($white-main, 0);
                transition: background-color .35s ease, border-color .35s ease;
            }

            .stepContent {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h3 {
                color: $white-muted;
                transition: color .35s ease;
                }

                p {
                color: $white-muted;
                transition: color .35s ease;
                }
            }

            &.is-active {
                .circle {
                background-color: $white-main;
                border-color: $white-main;
                }

                .stepContent {
                h3, p {
                    color: $white-main;
                }
                }

                + .separator {
                background-color: $white-main;
                }
            }
            }

            .separator {
            width: 2px;
            height: 80px;
            background-color: $white-muted;
            margin-left: 10px;
            transition: background-color .35s ease;
            }
        }
    }


    section.lastMissions .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        h2 {
            margin-bottom: 48px;
        }

        .resultsCards {
            width: 100%;
            display: grid;
            grid-template: 1fr;
            gap: 32px;
            align-items: stretch;

            .missionCard {
                width: 100%;
            }
        }
    }

    section.collab {
        background:
        linear-gradient(
            180deg,
            $black-main 0%,
            rgba(13, 1, 25, 0) 35%,
            rgba(13, 1, 25, 0) 65%,
            $black-main 100%
        ),
        url("../../assets/images/purple-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            h2 {
                font-size: 32px;
                font-weight: 600;
            }
            @media (min-width: 1100px) {
            h2 {
                font-size: 48px;
            }
            }

            p {
                color: $white-muted;
            }

            .btns {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }

        .authModal {
            position: relative!important;
            top: unset!important;
            left: unset!important;
            transform: unset!important;
            transition: none!important;

            .closeBtn {
                display: none;
            }
            
            &.inscription, &.connexion {
                margin: 40px 0;
            }

            .authContent {
                padding: 24px;
            }
        }
    }
}

.bgImg {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 30vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(100px);
}

@media (min-width: 1100px) {
.bgImg {
    top: 50vh;
    width: 60%;
    filter: blur(150px);
}

.main-home {
    section.hero {
        width: 50%;

        .searchSection {

            .btns {
                flex-direction: row;
            }
        }

        .categories {
            flex-wrap: nowrap;
        }
    }

    section.howItWorks .container {

        .steps {
            width: 50%;
        }
    }

    section.lastMissions .container{
        .resultsCards {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    section.collab {
        .container {
            flex-direction: row;

            .left {
                width: 40%;

                .btns {
                flex-direction: row;
                }
            }

            .authModal {
                &.inscription {
                    margin: 40px 0;
                }
                &.connexion {
                    margin: 225px 0;
                }
                .authContent {
                    padding: 64px;
                }
            }
        }
    }
}    
}