@use '../variables' as *;

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    gap: 256px;

    section.hero {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        backdrop-filter: blur(40px);

        .textHero {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .searchSection {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .btns {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;

                button {
                    width: 100%;
                }
            }
        }

        .categories {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            .category {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
                width: 45%;
                border-radius: 8px;
                background-color: $black-overlay;
                padding: 8px 12px;
                aspect-ratio: 1/1;

                img {
                    width: 40px;
                }

                span {
                    color: $white-main;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }

    section.collab {
        background:
        linear-gradient(
            180deg,
            $black-main 0%,
            rgba(13, 1, 25, 0) 35%,
            rgba(13, 1, 25, 0) 65%,
            $black-main 100%
        ),
        url("../../assets/images/purple-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            h2 {
                font-size: 32px;
                font-weight: 600;
            }
            @media (min-width: 1100px) {
            h2 {
                font-size: 48px;
            }
            }

            p {
                color: $white-muted;
            }

            .btns {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }

        .authModal {
            position: relative!important;
            top: unset!important;
            left: unset!important;
            transform: unset!important;
            transition: none!important;

            .closeBtn {
                display: none;
            }
            
            &.inscription, &.connexion {
                margin: 40px 0;
            }

            .authContent {
                padding: 24px;
            }
        }
    }
}

@media (min-width: 1100px) {
.main-home {
    section.hero {
        width: 50%;

        .searchSection {

            .btns {
                flex-direction: row;
            }
        }

        .categories {
            flex-wrap: nowrap;
        }
    }

    section.collab {
        .container {
            flex-direction: row;

            .left {
                width: 40%;

                .btns {
                flex-direction: row;
                }
            }

            .authModal {
                &.inscription {
                    margin: 40px 0;
                }
                &.connexion {
                    margin: 225px 0;
                }
                .authContent {
                    padding: 64px;
                }
            }
        }
    }
}    
}