@use '../variables' as *;

.notFound {
    min-height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    p {
        color: $white-main;
        font-size: 20px;
        text-align: center;
    }
}

.main-missionDetail {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    margin: 80px 0;

    .goBack {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: $white-muted;
        transition: all .2s;

        svg {
            path {
                fill: $white-muted;
            }
        }

        &:hover {
            color: $white-main;

            svg path {
                fill: $white-main;
            }
        }
    }

    .pageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        gap: 80px;

        .annonce {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 40px;
            width: 100%;

            .head {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                width: 100%;

                h1 {
                    width: 100%;
                }

                .companyName {
                    color: $white-main;
                    font-weight: 400;
                    font-size: 24px;
                }

                .summary {
                    color: $white-muted;
                }
            }

            .body {
                width: 100%;
                padding: 16px;
                background-color: $black-muted;
                border-radius: 16px;
                border: 1px solid $ui-border;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 40px;

                .bodySection {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 16px;
                    width: 100%;

                    .separator {
                        width: 100%;
                        height: 1px;
                        background-color: $ui-border;
                    }

                    ul {
                        color: $white-muted;
                        margin-left: 16px;

                        li {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }

        }

        .societe {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 40px;

            .resume, .societeInfos {
                width: 100%;
                padding: 16px;
                border-radius: 16px;
                border: solid 1px $ui-border;
                background-color: $black-muted;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 32px;

                .topInfos {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: start;
                    gap: 16px;
                    height: fit-content;

                    .logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 56px;
                        height: 56px;
                        border-radius: 8px;
                        background-color: $accent-main;
                        color: $white-main;
                        font-size: 32px;
                        font-weight: 600;
                    }

                    .infos {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;
                        height: -webkit-fill-available;

                        .societeName {
                            color: $white-main;
                            font-family: $font-serif;
                            font-size: 24px;
                            font-weight: 500;
                        }

                        ul {
                            margin-left: 12px;
                            
                            li {
                                color: $white-main;
                                list-style-position: outside;
                                font-size: 16px;
                                font-weight: 300;
                            }
                        }

                        .societeLocation {
                            color: $white-muted;
                            font-weight: 300;
                            font-size: 16px;
                        }
                    }
                }

                .salaryAndDuration {
                    color: $white-main;
                    font-size: 18px;
                    font-weight: 500;
                }

                .tags {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 8px;

                    .tag {
                        background-color: $ui-tag;
                        padding: 8px;
                        border-radius: 8px;
                        color: $white-main;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                .societeDescription {
                    color: $white-muted;
                }

                .btns {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}
}

@media (min-width: 1100px) {
.main-missionDetail{
.container {
    margin: 40px 0 80px 0;

    .pageContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        .annonce {
            width: 65%;
            gap: 80px;

            .head {
                width: 70%;

                h1 {
                    width: 90%;
                }
            }

            body {
                padding: 32px;
            }
        }

        .societe {
            max-width: 25%;
            position: sticky;
            top: 40px;
            right: 0;
            gap: 80px;
            
            .resume, .societeInfos {
                gap: 32px;
            }
        }
    }
}
}    
}