@use '../variables' as *;

.main-missions {
    margin-top: 140px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 64px;

    .searchSection {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;

        .input-search {
            width: 100%;
        }

        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }

    .resultsSection {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;

        .resultsTitle {
            color: $white-muted;
            font-size: 20px;
            font-weight: 400;

            .query {
                color: $white-main;
                font-weight: 500;
            }
        }

        .infos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            gap: 16px;

            p {
                font-size: 16px;
                font-weight: 400;
                color: $white-muted;
            }

            .tri {
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                .triMuted {
                    color: $white-muted;
                    font-size: 16px;
                    font-weight: 400;
                }

                .triValue {
                    color: $white-main;
                }
            }
        }

        .resultsCards {
            width: 100%;
            display: grid;
            grid-template: 1fr;
            gap: 32px;
            align-items: stretch;

            .missionCard {
                width: 100%;
            }
        }

        .pageNavigation {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .activePage {
                padding: 12px 24px;
                background-color: $white-main;
                border-radius: 8px;
                color: $accent-main;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

@media (min-width : 1100px) {
.main-missions {
    margin-top: 80px;

    .searchSection {
        .input-search {
            width: 40%;
        }
    }

    .resultsSection {
        gap: 40px;

        .infos {
            flex-direction: row;
        }

        .resultsCards {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
}