@use './variables' as *;

body {
    font-family: $font-sans;
    background-color: $black-main;
}

.section {
    width: 100%;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: $container-padding-mobile;
}

@media (min-width: calc(1440px)) {
  .container {
    max-width: $container-max;
    padding-inline: 0;
  }
}